/* ______________________________
DESIGNED & DEVELOPED BY SAYANDWEEP
USED APPS - Bootstrap5, Animista, SliderJS
_________________________________*/

:root {
  --fontA: Hubot Sans /* Logo font */;
  --fontB: Host Grotesk /* Body font */;
  --colorA: #FF3F3F /* Red Color */;
  --colorB: #0A100D /* Black color */;
  --colorC: #022FFF /* Blue color */;
  --colorD: #45C302 /* Green */
}
* {
  box-sizing: border-box;
}
body {
  background: #F8F7F3 !important;
  color: var(--colorB) !important;
  font-family: var(--fontB) !important;
}
a:hover {
  color: var(--colorD) !important;
}
::selection {
  color: var(--colorD);
}
.overflow-x-hidden {
  overflow-x: hidden
}
.navbar-brand {
  font-family: var(--fontA);
  font-size: 1.6rem !important;
  font-weight: bold;
}
.navbar-toggler,.navbar-toggler-icon,.navbar-toggler:hover,.navbar-toggler-icon:hover {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: 200ms ease-in-out
}
.navbar-nav {
  height: 100vh;
}
.navbar-nav .nav-item .nav-link {
  color: var(--colorB) !important;
}
 .navbar-toggler[aria-expanded="false"] {
  transform: rotate(0deg);
  stroke:  #45C302;
}
.navbar-toggler[aria-expanded="true"] {
  transform: rotate(135deg);
  stroke: #000000;
}
.navbar {
  padding: 30px 15px 0 15px;
  border-bottom: solid #00000029 1px;
  background: whitesmoke;
}
.pro__active {
  background: var(--colorD) !important;
  text-align: center;
  color: var(--colorB) !important;
  transition: .1s ease-out;
  display: block;
  padding: 20px;
  width: 100%;
}
.pro__active:active, .pro__active:hover{
  color: var(--colorD) !important;
  background: var(--colorC) !important;
}
.pro__active:active {
  transform: scale(1.1);
}
.nav-link {
  font-weight: 600;
  font-size: .85rem;
  width: 300px;
  display: inline-block;
}
a.navbar-link-ahref {
  color: var(--colorB);
  transition: .1s ease-in-out;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.3rem;
  display: inline-block;
  width: 100%;
}
a.nav-link-ahref:hover {
  color: var(--colorD) !important;
}
.home__sq,.home-inbox-text {
  padding: 20px;
  /*mix-blend-mode: color-burn;*/
  color: var(--colorB);
}
.image__dp .dp__ {
  width: 100%;
  border-radius: 20px;
}
.about__dp .texthere h5, .about__dp .texthere p {
  margin-bottom: 0
}
.about__dp .texthere p {
  font-size: .8rem
}
.about__dp .texthere p a {
  margin-top: 5px;
  margin-right: 3px
}
.home-inbox-text {
  font-size: 3.5rem;
  line-height: 3rem
}
svg.behance-svg, svg.instagram-svg {
    width: 20px;
    height: 20px
}
.marquee_container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  background: var(--colorC);
  padding: 0.2rem 0;
  margin: 20px 0 0 0;
}
.marquee {
  display: flex;
  align-items: center;
  animation: marquee 10s linear infinite;
  transition: 300ms ease-in-out;
}
.marquee h1 {
  display: inline-block;
  margin: 19px;
  color: white;
  font-family: var(--fontB) !important
}

@keyframes marquee {
  0% {
    transform: translate3d(100%, 0, 0);
  }
  50% {
    transform: translate3d(-400%, 0%, 0);
  }
  100% {
    transform: translate3d(300%, 0%, 0);
  }
}
.showcase-box {
  background: var(--colorB);
  color: white;
  padding: 40px 20px
}
.showcase-box img {
  border-radius: 15px;
  transition: .2s ease-in-out;
}
.showcase-box img:hover {
    transform: translateY(10px);
    filter: contrast(200%);
}
.showcase-box .col-sm-4 div {
  padding: 10px 0
}
.copyright {
  padding-top: 20px;
  font-size: 1rem;
  color: whitesmoke;
  background: var(--colorB);
}
.copyright .container .footer {
  display: flex;
  justify-content: space-between;
}
.vctr1 {
    position: absolute;
    top: 12%;
    left: 0%;
    z-index: -1;
  }
.vector,.showcase-page {
    overflow-x: hidden;
}
.vector .vctr2 {
    position: fixed;
    top: -6%;
    right: -35%;
    z-index: -1;
  }
.contact-me-btn {
  background: var(--colorB);
  color: var(--colorD);
  position: absolute;
  top: 55%;
  right: 4%;
  border-radius: 100px;
  padding: 5px 15px;
  z-index: 0;
  transform: rotate(-90deg)
}
.contact-me-btn:active {
  background: var(--colorD);
  color: var(--colorB);
}
button {
    border: none
}
.showcase-page .container {
    padding: 0;
}

.space__smallsc__nav {
  margin: 50px 0
}

.a1{-webkit-animation:a1 .6s cubic-bezier(.25,.46,.45,.94) both;animation:a1 .6s cubic-bezier(.25,.46,.45,.94) both}
.a2{-webkit-animation:a2 .6s cubic-bezier(.25,.46,.45,.94) both;animation:a2 .6s cubic-bezier(.25,.46,.45,.94) both}

.circle_bl {
  border-radius: 100px;
  padding-right: 40px;
  font-weight: bold;
  display: inline-block;
  color: var(--colorA);
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 130px
}
.app__wrap {
  padding: 20px
}
.app__text_norm {
  font-family: var(--fontB);
  margin: 30px 0 0 0;
  line-height: 1.2rem;
  font-size: 1.1rem;
  opacity: .7
  
}
.app__main_tx {
  font-family: var(--fontA);
  margin: 0;
  color: black;
  font-weight: 500;
  font-size: 1.3rem
}
.app__box {
  background: var(--colorC);
  border-radius: 7px;
  padding: 25px;
  margin: 20px;
}

 @-webkit-keyframes a1{0%{-webkit-transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
 @keyframes a1{0%{-webkit-transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);transform:rotateY(20deg) rotateX(-35deg) translate(300px,300px) skew(35deg,-10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}

@-webkit-keyframes a2{0%{-webkit-transform:rotateY(-20deg) rotateX(-35deg) translate(-300px,300px) skew(-35deg,10deg);transform:rotateY(-20deg) rotateX(-35deg) translate(-300px,300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
@keyframes a2{0%{-webkit-transform:rotateY(-20deg) rotateX(-35deg) translate(-300px,300px) skew(-35deg,10deg);transform:rotateY(-20deg) rotateX(-35deg) translate(-300px,300px) skew(-35deg,10deg);opacity:0}100%{-webkit-transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);transform:rotateY(0) rotateX(0deg) translate(0,0) skew(0deg,0deg);opacity:1}}
@media (max-width: 786px) {
  .small-hide {
    position: absolute;
    z-index: -1;
    transform: scale(0)
  }
}
